.page-wrapper {
  background: #fff;
  padding-bottom: 60px; }

/*-- ============================================================== 
 Small Desktop & above all (1024px) 
 ============================================================== */
 @media (min-width: 1024px) {
  .page-wrapper {
    margin-left: 240px; }
   }

@media (max-width: 1023px) {
  .page-wrapper {
    margin-left: 60px;
    transition: 0.2s ease-in; }
   }
